.home-page{
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../img/home/fondo\ inicio.png');
    background-position: center;
    background-size: cover;

    .header{
        width: 85vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2dvh;
        margin-top: 3dvh;
        img{
            width: 20vw;
        }
    }

    .center{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 10dvh;

        .decoration{
            width: 60vw;
        }

        .blue{
            color: #009EC9;
        }

        .orange{
            color: #F06C29;
        }

        h1{
            color: white;
            font-size: 10vw;
            margin: 0;
            margin-top: 2dvh;
        }

        p{
            width: 70%;
            color: white;
            font-size: 4vw;
            text-align: center;
            font-weight: 500;
        }

        .gift{
            width: 30vw;
        }
    }

    .button{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10dvh;
        button{
            border: none;
            background-color: #F06C29;
            color: white;
            font-size: 5vw;
            padding: 1.5dvh 10vw;
            border-radius: 1000px;
        }

        &:active{
            button{
                background-color: #c45923;
            }
        }
    }
}