@font-face {
  font-family: 'Kievit';
  src: url(./KievitOT-Regular.otf);
}

body {
  margin: 0;
  font-family: 'Kievit';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  touch-action: none;
  user-select: none;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
